node_modules
node_modules/*
vendor
vendor/*
.history
src
# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.json
*.lock
*.js

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
