includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	level: 6
	ignoreErrors:
	    - '#has no return typehint specified\.#'
	paths:
		- admin
		- includes
		- public
		- subscriptions-for-woocommerce.php