WP_BASE_URL=http://subscription-site.local
WP_ADMIN_USER=admin
WP_ADMIN_PASS=password
WP_CUSTOMER_USER=customer
WP_CUSTOMER_PASS=password
# ID of an active subscription owned by WP_CUSTOMER_USER (check WP admin → Subscriptions)
WP_TEST_SUBSCRIPTION_ID=
# ID of a post that has a membership access rule applied to it
WP_RESTRICTED_POST_ID=
