/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .wps_sfw_account_wrap {
    overflow-x: auto;
}

.wps_sfw_free_trial,
.wps_sfw_signup_fee {
    display: block;
}

.wps_sfw_experimental_feature_notice {
    color: red;
}

/* Designing issue fixes */
div#oceanwp-cart-sidebar-wrap .oceanwp-cart-sidebar {
    width: 100%;
    max-width: 400px;
}

div#oceanwp-cart-sidebar-wrap .wps_sfw_subscription_wrapper {
    padding: 10px;
}

.oceanwp-theme .wps_sfw_subscription_inner_wrapper .amount {
    color: #fff !important;
}

.theme-betheme .wps_sfw_subscription_wrapper label,
.theme-betheme .wps_sfw_subscription_wrapper p,
.oceanwp-theme .wps_sfw_subscription_wrapper label,
.oceanwp-theme .wps_sfw_subscription_wrapper p {
    line-height: 28px;
}

.theme-betheme .wps_sfw_subscription_wrapper,
.oceanwp-theme .wps_sfw_subscription_wrapper {
    text-align: left;
    padding: 10px;
}

.mfp-wrap .mfp-container .mfp-content {
    width: 100%;
    max-width: 500px;
}

.wps_sfw_subscription_wrapper label,
.wps_sfw_subscription_wrapper p {
    display: inline-block;
    white-space: break-spaces;
}

.wps_sfw_subscription_wrapper input[type=radio] {
    vertical-align: middle;
    margin: 0 5px 5px 0;
}

.wps_sfw_account_wrap table {
    width: 100%;
}

.wps_sfw_account_wrap table th {
    min-width: 100px;
    text-align: left;
}

.wps_sfw_account_wrap table th:first-of-type {
    min-width: 50px;
}

.wps_sfw_account_wrap table th:nth-of-type(3) {
    min-width: 150px;
}

.wps_sfw_account_wrap table th:last-of-type,
.wps_sfw_account_wrap table td:last-of-type {
    min-width: 80px;
    text-align: center;
}

.wps_sfw_expired {
    color: #e74c3c;
    text-transform: capitalize;
}

.wps_sfw_cancelled {
    text-transform: capitalize;
    color: #e67e22;
}

.wps_sfw_active {
    text-transform: capitalize;
    color: #27ae60;
}

.wps_sfw_on-hold {
    text-transform: capitalize;
    color: #f1c40f;
}

.wps_sfw_paused {
    text-transform: capitalize;
    color: #3498db;
}

.wps_wsp_recurring_total_td {
    font-weight: 600;
}

.wps_wsp_recurring_total th {
    vertical-align: top;
}

/* Subscription on my account page start  */

.wps_sfw_order_details a.wps_upgrade_downgrade.button {
    display: block;
    max-width: max-content;
    margin: 5px 0 0;
    line-height: 1.25;
    padding: 10px 10px;
    background: #f8f8f8;
    border: 2px solid #f8f8f8;
    font-size: 14px;
    color: #000;
}

.wps_sfw_details_wrap table.shop_table th,
.wps_sfw_account_wrap table th {
    border-bottom: 1px solid #ccc;
    font-weight: 600;
}

.wps_sfw_details_wrap table.shop_table th,
.wps_sfw_details_wrap table.shop_table td,
.wps_sfw_account_wrap table thead th,
.wps_sfw_account_wrap table tbody td {
    background: transparent;
    padding: 15px;
    text-align: left;
}

.wps_sfw_details_wrap table.shop_table tr,
.wps_sfw_account_wrap table tbody tr {
    border: none;
}

.wps_sfw_details_wrap table.shop_table tr:nth-of-type(even),
.wps_sfw_account_wrap table tbody tr:nth-of-type(even) {
    background: #f8f8f8;
}

.wps_sfw_details_wrap table.shop_table,
.wps_sfw_account_wrap table {
    border: 1px solid #ccc;
}

.wps_sfw_details_wrap h3 {
    font-size: 24px;
    margin: 0 0 15px;
    font-weight: 600;
    line-height: 1.25;
}

.wps_sfw_details_wrap table+h3 {
    margin: 25px 0 15px;
}

.wps_sfw_account_show_subscription a {
    text-decoration: underline;
    color: var(--wp--preset--color--vivid-cyan-blue);
}

/* Subscription on my account page end  */
/* Single product page start */

p.wps_sfw_inner_description {
    padding: 10px;
    background: #f8f8f8;
    margin: 5px 0px 20px;
}

/* Single product page end */