/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .wps_sfw_account_wrap {
 	overflow-x: auto;
 }
 .wps_sfw_free_trial, .wps_sfw_signup_fee {
    display: block;
}
.wps_sfw_experimental_feature_notice {
    color: red;
}

/* Designing issue fixes */
div#oceanwp-cart-sidebar-wrap .oceanwp-cart-sidebar {
    width: 100%;
    max-width: 400px;
}

div#oceanwp-cart-sidebar-wrap .wps_sfw_subscription_wrapper {
    padding: 10px;
}

.oceanwp-theme .wps_sfw_subscription_inner_wrapper .amount {
    color: #fff !important;
}

.theme-betheme .wps_sfw_subscription_wrapper label,
.theme-betheme .wps_sfw_subscription_wrapper p,
.oceanwp-theme .wps_sfw_subscription_wrapper label,
.oceanwp-theme .wps_sfw_subscription_wrapper p {
    line-height: 28px;
}

.theme-betheme .wps_sfw_subscription_wrapper,
.oceanwp-theme .wps_sfw_subscription_wrapper {
    text-align: left;
    padding: 10px;
}

.mfp-wrap .mfp-container .mfp-content {
    width: 100%;
    max-width: 500px;
}

.wps_sfw_subscription_wrapper label,
.wps_sfw_subscription_wrapper p {
    display: inline-block;
    white-space: break-spaces;
}

.wps_sfw_subscription_wrapper input[type=radio] {
    vertical-align: middle;
    margin: 0 5px 5px 0;
}
.wps_sfw_account_wrap table {
    width: 100%;
}

.wps_sfw_account_wrap table th {
    min-width: 100px;
    text-align: left;
}

.wps_sfw_account_wrap table th:first-of-type {
    min-width: 50px;
}

.wps_sfw_account_wrap table th:nth-of-type(3) {
    min-width: 150px;
}

.wps_sfw_account_wrap table th:last-of-type,.wps_sfw_account_wrap table td:last-of-type {
    min-width: 80px;
    text-align: center;
}

.wps_sfw_expired {
    color: #e74c3c;
    text-transform: capitalize;
}

.wps_sfw_cancelled {
    text-transform: capitalize;
    color: #e67e22;
}

.wps_sfw_active {
    text-transform: capitalize;
    color: #27ae60;
}

.wps_sfw_on-hold {
    text-transform: capitalize;
    color: #f1c40f;
}

.wps_sfw_paused {
    text-transform: capitalize;
    color: #3498db;
}
.wps_wsp_recurring_total_td{
    font-weight: 600;
}
.wps_wsp_recurring_total th{
    vertical-align: top;
}