/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 /*=====  End of system-status-table-section  ======*/

 /* Overview page css */

 .sfw-overview__icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 30px;
 }

 .sfw-overview__icons a {
	display: block;
 }

 .sfw-overview__icons img {
	width: 40px;
	display: block;
	margin-right: 20px;
 }

 .sfw-overview__icons a:last-child img {
	margin-right: 0;
 }

 .sfw-overview__banner-img {
	margin-bottom: 50px;
	padding: 0 10px;
 }

 .sfw-overview__banner-img img {
	display: block;
	width: 100%;
 }

 .sfw-overview__content-description h1 {
	color: #163062;
	font-size: 56px;
	font-weight: 700;
	margin-bottom: 20px;
 }

 .sfw-overview__features h2 {
	margin: 0 0 15px 0;
 }

 .sfw-overview__wrapper h2,
 .sfw-overview__wrapper h3 {
	font-weight: 600;
 }

 .sfw-overview__wrapper p {
	color: #565857;
	letter-spacing: 0.5px;
 }

 .sfw-overview__content-description p {
	font-size: 16px;
 }

 .sfw-overview__features {
	margin-top: 70px;
 }

 .sfw-overview__features h2 {
	margin-bottom: 20px;
 }

 .sfw-overview__features p {
	margin: 0 0 15px 0;
 }

 .sfw-overview__features-list {
	list-style: none;
 }

 .sfw-overview__features-list li::before {
	color: #1a3365;
	content: "⚬";
	font-size: 20px;
	font-weight: 400;
	vertical-align: middle;
 }

 .sfw-overview__features-list li {
	color: #565857;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 24px;
 }

 .sfw-overview__content-description,.sfw-overview__keywords-wrap {
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 20px 10px;
	text-align: left;
 }

 .sfw-overview__content h2 {
	color: #163062;
	font-size: 30px;
	letter-spacing: 0.5px;
	line-height: 150%;
	text-align: left;
 }

 .sfw-overview__wrapper h3 {
	color: #163062;
	font-size: 18px;
	letter-spacing: 0.3px;
	margin-bottom: 15px;
	margin-top: 25px;
 }

 .sfw-overview__keywords-wrap h2 {
	margin: 0 0 30px 0;
 }

 .sfw-overview__keywords {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 }

 .sfw-overview__keywords-item {
	background: #ffffff;
	border-bottom: 3px solid #163062;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgb(0 0 0 / 15%);
	flex: 0 0 calc(33.85% - 40px);
	margin-bottom: 40px;
	margin-right: 15px;
	max-width: calc(33.85% - 40px);
	padding: 30px 30px;
	transition: 0.3s linear all;
 }

 .sfw-overview__keywords-item:hover {
	transform: translateY(-16px);
	transition: 0.3s linear all;
 }

 .sfw-overview__keywords-item:nth-child(3n) {
	margin-right: 0;
 }

 .sfw-overview__keywords-text {
	text-align: center;
}

 .sfw-overview__keywords-text img {
	margin-bottom: 10px;
 }

 .sfw-overview__keywords-heading {
	color: #163062;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 10px 0;
 }

 .sfw-overview__keywords-description {
	font-size: 14px;
 }

 .sfw-overview__features-list li:before {
	position: absolute;
	left: 5px;
	top: 0;
}

.sfw-overview__features-list li {
	position: relative;
	padding-left: 20px;
}

.wps_sfw_video_wrapper iframe {
	width: 50%;
	height: 300px;
}
/*Support and doc link*/
.wps-header-container__links {
    margin: 10px 0 0 auto;
}

.wps-header-container__links span {
    padding: 0 5px;
}
.wps-header-container .wps-header-title {
 	flex: 0 0 50%;
 	max-width: 50%;
 }
 .wps-header-container .wps-header-container__links {
 	flex: 0 0 calc(50% - 15px);
 	max-width: calc(50% - 15px);
 	margin: 0 !important;
 	padding-left: 15px;
 	text-align: right;
 }
@media only screen and (max-width: 767px) {
 	.wps-header-container .wps-header-title {
 		flex: 0 0 100%;
 		max-width: 100%;
 		margin-bottom: 20px;
 	}
 	.wps-header-container .wps-header-container__links {
 		flex: 0 0 100%;
 		max-width: 100%;
 		padding-left: 0;
 		text-align: left;
 	}
 }


 /* Media Queries */

 @media only screen and (max-width: 1200px) and (min-width: 992px) {
	.sfw-overview__keywords-item {
		flex: 0 0 calc(50% - 40px);
		max-width: calc(50% - 40px);
	}
 }

 @media only screen and (max-width: 992px) {
	.sfw-overview__keywords-item {
		flex: 0 0 100%;
		max-width: 100%;
		margin-right: 0;
	}
 }
 @media only screen and (max-width: 767px) {
	.sfw-overview__content-description,.sfw-overview__keywords-wrap {
		padding: 15px 10px;
	}
	.sfw-overview__content-description h1 {
		font-size: 30px;
	}
	.sfw-overview__content h2 {
		font-size: 24px;
	}
	.sfw-overview__features {
		margin-top: 60px;
	}
 }

 @media only screen and (max-width: 767px) {
	.sfw-overview__content-description h1 {
		font-size: 24px;
	}
	.sfw-overview__content h2 {
		font-size: 20px;
	}
	.sfw-overview__content-description p {
		font-size: 14px;
	}
	.sfw-overview__features-list li {
		font-size: 14px;
	}

 }

 /* Media Query Ends */

 /* overview page css ends */

 /* General Settings */

 .wps-form-group:last-of-type .wps-form-group__label {
	display: none;
}


.wps_sfw_list_table table .updates-table tbody td.check-column, .widefat tbody th.check-column, .widefat tfoot td.check-column, .widefat thead td.check-column {
	padding: 9px 0 0 3px;
}


@media screen and (max-width: 782px) {
	.wps_sfw_list_table table .updates-table tbody td.check-column, .widefat tbody th.check-column, .widefat tfoot td.check-column, .widefat thead td.check-column {
		padding: 5px 0 0 3px;
	}
	.wps_sfw_list_table .wp-list-table tr:not(.inline-edit-row):not(.no-items) td.column-primary~td:not(.check-column) {
		margin-bottom: 5px;
	}
	.search-box {
		bottom: -30px !important;
		float: none;
		height: 90px;
		left: 0;
		margin-bottom: 20px;
		max-width: 98%;
		position: absolute;
		width: 100% !important;
	}
	.wps_sfw_list_table .wp-list-table .toggle-row:focus:before {
		box-shadow: none;
		color: #4f94d4;
	}
	.wps_sfw_list_table .wp-list-table tr:not(.inline-edit-row):not(.no-items) td:not(.column-primary)::before {
		font-weight: 700;
	}
	.wps_sfw_list_table table td b {
		font-weight: 400;
	}
	.wps_sfw_list_table .wp-list-table tr:not(.inline-edit-row):not(.no-items) td.column-primary~td:not(.check-column) {
		padding: 3px 8px 3px 52%;
	}
}
 @media only screen and (max-width: 767px) {
	.wps-sfw-gen-section-form .wps-form-group__label {
		flex: 0 0 100%;
		margin-bottom: 15px;
		max-width: 100%;
	}
	.wps-sfw-gen-section-form .wps-form-group__control {
		flex: 0 0 100%;
		max-width: 100%
	}
	.wps-sfw-gen-section-form .wps-form-group__control label {
		display: block;
	}
	.wps-sfw-gen-section-form .wps-form-group__control .mdc-text-field-helper-line {
		margin-top: 10px;
	}
	.sfw-overview__banner-img {
		margin-bottom: 30px;
	}

}

@media screen and (max-width: 480px) {
	.sfw-section-wrap form .tablenav.bottom .displaying-num {
		left: 5px;
		text-align: left;
		top: 5px;
	}
}

.wps_sfw_video_wrapper {
	margin-top: 70px;
	text-align: center;
}

@media screen and (max-width: 767px) {
.wps_sfw_video_wrapper iframe {
	height: 370px;
	max-width: 100%;
	width: 100%;
}
}
@media screen and (max-width: 480px) {
.wps_sfw_video_wrapper iframe {
	height: 210px;
	max-width: 100%;
	width: 100%;
}
}
@media screen and (max-width: 375px) {
.wps_sfw_video_wrapper iframe {
	height: 185px;
	max-width: 100%;
	width: 100%;
}
}
.wps-offer-notice.notice.notice-warning {
    padding: 0;
    border: none;
    margin-left: 2px;
    margin-right: 20px;
  }
  .wps-offer-notice.notice.notice-warning a img {
    display: block;
    width: 100%;
    height: auto;
  }
/* api section css */


.wps_sfw_rest_api_response {
    padding: 10px 25px 0;
}

.wps_sfw_api_details_main_wrapper h3 {
    font-size: 24px;
}

.wps_sfw_api_details_main_wrapper h4 {
    font-size: 18px;
    padding: 5px 20px 5px 15px;
    border-left: 5px solid #2196f3;
    position: relative;
    cursor: pointer;
    background-color: #2196f311;
}

.wps_sfw_api_details_main_wrapper h4:after {
    content: '\f347';
    font-family: 'dashicons';
    position: absolute;
    right: 10px;
}

.wps_sfw_api_details_main_wrapper h4.active:after {
    transform: rotate(180deg);
}

.wps_sfw_api_details_main_wrapper p {
    font-size: 16px;
    color: #000;
}

.wps_sfw_api_details_main_wrapper pre {
    background: #efefef;
    border-radius: 5px;
    margin-bottom: 28px;
    overflow: auto;
}

.wps_sfw_api_details_main_wrapper strong {
    color: #2196f3;
}


/*  Pro  start */

img.wps_go_pro_images {
    max-height: 100px;
}
.wps_pro_settings_tag {
  position: relative;
}

.wps_pro_settings_tag:before{
  background-color: #008000;
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 32px;
  aspect-ratio: 1;
  z-index: 99;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.wps_pro_settings_tag:after {
  position: absolute;
  content: 'pro';
  left: 0px;
  padding: 0px 2px;
  transform: rotate(45deg);
  z-index: 999;
  font-size: 10px;
  font-weight: 700;
  text-transform: capitalize;
  bottom: 0;
  color: #fff;
}
.wps_sfw_lite_go_pro_popup_wrap {
  align-items: center;
  background-color: rgb(0 0 0 / 24%);
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s linear all;
  visibility: hidden;
  width: 100%;
  z-index: 99999;
}
.wps_sfw_lite_go_pro_popup_wrap.wps_sfw_lite_go_pro_popup_show {
  opacity: 1;
  visibility: visible;
  transition: 0.3s linear all;
}
.wps_sfw_lite_go_pro_popup {
  background-color: #ffffff;
  max-width: 800px;
  border-radius: 4px;
  padding: 0;
  text-align: center;
  position: relative;
  margin-left: 160px;
}
.wps_sfw_lite_go_pro_popup_head h2 {
  background-color: #7979f6;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  margin: 0;
  padding: 20px 10px;
  max-width: 400px;
}
.wps_sfw_lite_go_pro_popup_close {
  position: absolute;
  right: 8px;
  top: 6px;
  opacity: 0.8;
  width: 25px;
  color: rgba(255,255,255,0.6);
  text-decoration: none;
  font-size: 22px;
  border: 1px solid rgba(255,255,255,0.6);
  height: 25px;
  line-height: 21px;
  border-radius: 50%;
}
.wps_sfw_lite_go_pro_popup_button .wps_ubo_lite_overview_go_pro_button, .button.wps_ubo_lite_overview_go_pro_button {
  background-color: #78c900;
  color: #ffffff;

  height: auto;
  border: none;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  box-shadow: none;
}
.wps_sfw_lite_go_pro_popup_button .wps_ubo_lite_overview_go_pro_button span, .button.wps_ubo_lite_overview_go_pro_button span {
  vertical-align: middle;
  margin-left: 5px;
}
.wps_sfw_lite_go_pro_popup_text {
	font-size: 16px;
	text-align: center;
	max-width: 400px;
	margin: 0 auto 10px;
	padding: 0 20px;
}
.wps_sfw_lite_go_pro_popup_head{
  margin-bottom: 10px;
}

.wps_pro_settings_tag>.wps-form-group__label {
    padding-bottom: 10px;
}
#wsp_enable_subscription_box_muti_features {
	display: none;
}
#wsp_enable_subscription_box_muti_features.wps_pro_settings_tag{
    margin-bottom: 30px;
	display: block;
}
  /* pro popup end  */